html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



.fullscreen-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-bg > img {
  width: 100%;
  height: 100vh;

  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

.fullscreen-vedio {
  all: unset;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen {
  cursor: pointer;
  width: 100%;
  height: 100vh;
  background-color: #000 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar {
  z-index: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  cursor: pointer;
}

.logo,
.menu {
  padding-left: 81px;
  font-family: "Noto Sans KR", sans-serif;

  letter-spacing: 2px;
  font-weight: 700;
}

.logo > a {
  all: unset;
  font-size: 24px;
  color: white;
}

.menu > a {
  all: unset;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin: 1vw;
  padding-left: 65px;
  transition: color 0.7s;

  text-shadow: 2px 4px 2px rgb(0, 0, 0, 0.1);
  letter-spacing: 2px;
  animation-duration: 6s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.menu > a:hover {
  color: white;
}

.title {
  position: absolute;
  font-size: 84px;
  color: white;
  top: 230px;
  margin: 5vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.subheading {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  color: WHITE;

  top: 650px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin-left: 80px;
}

.subheading1 {
  position: absolute;
  all: unset;
  font-size: 23px;
  top: 700px;
  font-family: "Noto Sans", sans-serif;
  margin-left: 2px;
  color: rgb(255, 255, 255, 0.6);
}

.main {
  position: relative;
  width: 600px;

  padding: 70px 90px;
}

.maintitle {
  font-weight: 700;
  font-size: 33px;
  padding-bottom: 20px;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.thirdtitle{
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.content {
  font-size: 23px;
  padding-bottom: 120px;
  letter-spacing: 0.2px;
}
.content3 {
  font-size: 18px;
  padding-bottom: 120px;

  font-family: "Noto Sans KR", sans-serif;
}
.whatlion {
  padding-top: 50px;
  width: 600px;
  height: 980px;
}

.curriculum {
  padding-top: 50px;
  width: 600px;
  height: 950px;
  filter: brightness(87%);
  z-index: -2;
}

.first {
  display: flex;
  flex-direction: row;
  padding: 70px 90px;
}

.calendar {
  padding-left: 50px;
  height: 330px;

  border-left: 2px solid rgb(0, 0, 0, 0.5);
}

.secondtitle {
  font-weight: 700;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
.content {
  font-size: 18px;
  color: rgba(32, 35, 39, 0.9);
  font-family: "Noto Sans KR", sans-serif;
}

.content1 {
  margin-top: 150px;
  font-size: 18px;
}

.slide {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 30px;
  padding-left: 150px;
  cursor: grab;
}

.slide::-webkit-scrollbar {
  display: none;
  height: 10px;
  cursor: grab;
}

.slide_item {
  filter: brightness(94%);
  width: 68vw;
  height: 73vh;
  padding-right: 30px;
  border-radius: 4px;
  cursor: grab;
}

.target {
  padding-left: 2px;
  height: 760px;
}

.contentbox {
  width: 250px;
  height: 220px;

  padding-bottom: 60px;
  padding-right: 90px;
}

.two,
.third,
.four {
  display: flex;

  flex-direction: row;
}

.title1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Hind Siliguri", sans-serif;
}

.content2 {
  font-size: 16px;

  font-family: "Noto Sans KR", sans-serif;

  color: rgba(32, 35, 39, 0.9);
}

.whatlion2 {
  filter: brightness(94%);
  padding-top: 50px;
  width: 650px;
  height: 1000px;
}

.info {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 70px;
}

/* 
.curriculum__content{
  
  
  color: #f79e1c;
}

.curriculum__content:hover {
  
  color: #f79e1c;
  transition: ease-in 0.5s;
  cursor: pointer;
} */

.link {
  all: unset;
  color: black;

  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.move {
  height: 1.5px;
  width: 59%;
  background-color: black;
  cursor: pointer;
}

.endtitle {
  font-weight: 700;
  font-size: 38px;
  padding-left: 70px;
  padding-bottom: 50px;

  font-family: "Noto Sans", sans-serif;
}

.videotitle {
  font-weight: 700;
  font-size: 34px;
  padding-left: 70px;
  padding-bottom: 50px;

  font-family: "Noto Sans", sans-serif;
}
/* 
.endphoto2 {
  width: 600px;

  cursor: pointer;
  height: 700px;
}

.endphoto2:hover {
  cursor: pointer;

  transform: scale(1.1);

  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);

  -webkit-transform: scale(1.1);

  transition: transform 0.8s;
  -o-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
} */

.endframe {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  padding: 0px 10%;
}

.endbox {
  position: relative;
  width: 600px;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  /* background-image: url(images/main4.jpg);
  background-size: cover;

  transition: all 1000ms; */
}

.endphoto {
  width: 100%;
  height: 100%;
  cursor: pointer;

  transition: transform 0.8s;
  -o-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
}

/* .endphoto:hover {
  cursor: pointer;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
} */

/* .endphoto:hover .goeventtitle{
  color: red;
} */

.endframe__background {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  padding: 10% 0px;
  justify-content: center;
  align-items: flex-end;
}

.goevent {
  all: unset;
  width: 65%;
  height: 25%;
  z-index: 9999;
  margin-bottom: 10%;

  background-color: white;
  color: black;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.9s;
  -o-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
}

.goeventtitle {
  color: black;
  font-size: 25px;
  font-weight: bold;

  font-family: "Noto Sans", sans-serif;
}

.goeventcontent {
  color: #a7a7a7;

  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

/* .goevent,
.goevent1 {
  position: absolute;

  all: unset;
  background-color: white;
  color: black;
  width: 430px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 450px;
  margin-left: 44px;
  padding-left: 80px;
  cursor: pointer;

  transition: transform 0.9s;
  -o-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
}

.goevent:hover,
.goevent1:hover {
  height: 170px;
  cursor: pointer;

  transform: scaleY(1.1);

  transition: transform 0.9s;
  -o-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
}

.frame1 {
  position: relative;
}

.frame2 {
  position: relative;
  padding-bottom: 60px;
}

.goeventtitle,
.goeventtitle1 {
  color: black;
  font-size: 25px;
  font-weight: bold;

  font-family: "Noto Sans", sans-serif;
}

.goeventcontent,
.goeventcontent1 {
  color: #a7a7a7;

  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
} */

.rowframe1 > a {
  all: unset;
}

a > img {
  padding-right: 50px;
}

.rowframe > p {
  all: unset;
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.row {
  all: unset;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 20px;
}

.row > p {
  all: unset;
  justify-content: center;
  padding-left: 1px;
  font-size: 17px;

  font-family: "Noto Sans", sans-serif;
}

.number {
  all: unset;

  display: flex;
  flex-direction: row;

  margin: 60px 180px;
}

.Label {
  all: unset;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  visibility: hidden;
}

.center {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.center:first-of-type {
  animation: showup 12s;
}

.center:last-of-type {
  width: 0px;
  animation: reveal 8s;

  animation-fill-mode: forwards;
}

.center:last-of-type span {
  margin-left: -355px;
  animation: slidein 9s;
  animation-fill-mode: forwards;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 355px;
  }
}

@keyframes slide {
  from {
    width: 98%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.footer {
  all: unset;
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 70px 90px;
  font-family: "Noto Sans KR", sans-serif;
}

.footer-box {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  margin-bottom: 1%;
}

.font_thin {
  justify-items: center;
  align-content: center;
  font-size: 15px;
  color: #f6921e;
}

.footer-box-2 {
  margin-bottom: 1%;
}

.footer i {
  color: #f6921e;
  padding-left: 2rem;
  padding-right: 1.125rem;
}

.madeBy {
  font-size: 13px;
  color: rgb(90, 89, 89);
}

/* .sign {
  all: unset;
  padding-left: 9px;
  font-family: "Noto Sans KR", sans-serif;
  transform: translate(-50%, -50%);
  letter-spacing: 2;

  text-transform: uppercase;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 0.1rem#dcdde1, 0 0 0.1rem #dfe6e9,
    -0.2rem 0.1rem 1rem #3d3d3d, 0.1rem 0.1rem 1rem#3d3d3d,
    0 -0.3rem 1rem #3d3d3d, 0 0.3rem 1rem#3d3d3d;
  animation: shine 2s forwards, flicker 3s;
  animation-iteration-count: 1;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: white;
    text-shadow: 0 0 0.1rem #dcdde1, 0 0 0.1rem#dfe6e9,
      -0.2rem 0.1rem 0.2rem #4b4b4b, 0.1rem 0.1rem 0.2rem #4b4b4b,
      0 -0.3rem 1rem#3d3d3d, 0 0.3rem 1rem#3d3d3d;
  }
  28%,
  33% {
    color: white;
    text-shadow: none;
  }
  82%,
  97% {
    color: white;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 4s forwards, blink 4s 3s;
  animation-iteration-count: 1;
}

.fast-flicker {
  animation: shine 5s forwards, blink 5s 3s;
  animation-iteration-count: 1;
}

@keyframes shine {
  0% {
    text-shadow: none;
  }
  100% {
    color: rgb(255, 255, 255, 0.7);
    text-shadow: 0 0 0.1rem #dfe6e9, 0 0 0.1rem #dfe6e9,
      -0.1rem 0.1rem 0.2rem #4b4b4b, 0.1rem 0.1rem 0.2rem #4b4b4b,
      0 -0.3rem 1rem#3d3d3d, 0 0.3rem 1rem #3d3d3d;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.9;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
} */
