html,
body {
  margin: 0;
  padding: 0;
}

.fullscreen-bg__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  z-index: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
}

.logo,
.menu {
  font-size: 20px;
  padding-left: 130px;
}

.menu > a {
  all: unset;
  font-size: 20px;
  color: white;
  margin: 1vw;
  padding-left: 33px;
  font-weight: bold;
}

.title {
  position: absolute;
  font-size: 80px;
  color: white;
  top: 240px;
  margin: 5vw;
  font-weight: 600;
}

.main {
  position: relative;
  width: 600px;

  padding: 70px 90px;
}

.maintitle {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 20px;
}

.content {
  font-size: 25px;
  padding-bottom: 120px;
}
.whatlion {
  padding-top: 50px;
  width: 600px;
  height: 980px;
}

.first {
  display: flex;
  flex-direction: row;
  padding: 70px 90px;
}

.calendar {
  padding-left: 50px;
  height: 330px;

  border-left: 2px solid rgb(0, 0, 0, 0.5);
}

.secondtitle {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}
.content {
  font-size: 18px;
}

.content1 {
  margin-top: 150px;
  font-size: 18px;
}

.slide {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 30px;
  padding-left: 150px;
  cursor: move;
}

.slide::-webkit-scrollbar {
  display: none;
  height: 10px;
  cursor: move;
}

.slide_item {
  width: 70vw;
  height: 77vh;
  padding-right: 30px;
  border-radius: 4px;
  cursor: move;
}

.target {
  padding-left: 2px;
  height: 760px;
}

.contentbox {
  width: 250px;
  height: 220px;

  padding-bottom: 60px;
  padding-right: 90px;
}

.two,
.third,
.four {
  display: flex;

  flex-direction: row;
}

.title1 {
  font-size: 25px;
  font-weight: 500;
}

.content2 {
  font-size: 17px;
  color: #a7a7a7;
}

.whatlion2 {
  padding-top: 50px;
  width: 650px;
  height: 1100px;
}

.info {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 70px;
}

.link {
  all: unset;
  color: black;

  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  color: #f79e1c;
  transition: ease-in 0.5s;
  cursor: pointer;
}
hr {
  height: 2px;
  width: 50%;
  background-color: black;
  cursor: pointer;
}
hr:hover {
  background-color: #f79e1c;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.endtitle {
  font-weight: 700;
  font-size: 30px;
  padding-left: 70px;
  padding-bottom: 50px;
}

.endphoto1 {
  width: 600px;
  height: 700px;

  position: relative;
}

.goevent,
.goevent1 {
  all: unset;
  background-color: white;
  color: black;
  width: 430px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 450px;
  margin-left: 44px;
  padding-left: 80px;
}

.goevent:hover,
.goevent1:hover {
  height: 170px;
  cursor: pointer;

  transform: scale(1.1);

  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);

  -webkit-transform: scale(1.1);

  transition: transform 0.8s;
  -o-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
}

.frame1 {
  position: relative;
}

.frame2 {
  position: relative;
}

.goeventtitle,
.goeventtitle1 {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.goeventcontent,
.goeventcontent1 {
  color: #a7a7a7;

  font-size: 15px;
}
.endphoto1:hover {
  cursor: pointer;

  transform: scale(
    1.1
  ); 
  -moz-transform: scale(1.1);

  -webkit-transform: scale(1.1);

  transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.endphoto2 {
  width: 600px;
  height: 700px;
}

.endphoto2:hover {
  cursor: pointer;

  transform: scale(1.1);

  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);

  -webkit-transform: scale(1.1);

  transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.endbox {
  overflow: hidden;
  width: 600px;
  height: 700px;
}

.endbox1 {
  overflow: hidden;
  width: 600px;
  height: 700px;
}

.endframe {
  display: flex;
  flex-direction: row;
  padding-left: 163px;
}
