.topButton {
    position: fixed;
    bottom: 2vh;
    right: 2vh;

    width: 80px;
    height: 80px;
}

.topButton a {
    all: unset;

    width: 100%;
    height: 100%;
    z-index: 1001;
}

.topButtonImg {
    width: 100%;
    height: 100%;

    opacity: 0.8;
    transform: scale(1);
    transition: all 1000ms ease-in-out;
}

.topButton__hide {
    opacity: 0;
    transform: scale(0.9);
}